.centered {
  position: fixed;
  top: 20%;
  left: 45%;
  /* bring your own prefixes */
  // transform: translate(-20%, -50%);
  width: 100%
}


.ingredientsPicker {
  max-width: 700px;
  margin-top: 20px;
}
